---
BasedOnStyle: Microsoft
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SortIncludes: CaseInsensitive
AlignTrailingComments: false
SpacesBeforeTrailingComments: 4
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: DontAlign
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
